<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi sitio web</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'productos/css/estilos.css' %}?v={{ timestamp }}" />
    {% block styles %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        {% block content %}
        <nav>
            <a href="{% url 'nosotros' %}">Nosotros</a>
            <a href="{% url 'producto' %}">Productos</a>
            {% if request.session.usuario_id %}
            <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </nav>
        {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <p>&copy; Página Tienda Naturista Los girasoles 2025</p>
    </footer>
    {% endblock %}

</body>

</html>