{% extends "productos/baseP.html" %}
{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'productos/css/estilos.css' %}" />
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'productos/css/estilos.css' %}" />

<div class="detalle-producto">
  <img src="{{ producto.imgProduc.url }}" alt="{{ producto.nombProduc }}">
  <div class="detalle-texto">
    <h2>{{ producto.nombProduc }}</h2>
    <p>{{ producto.descripcion }}</p>
    <p class="precio-detalle" ><strong>${{ producto.precio |floatformat:0|intcomma }}</strong> </p>
    {% if user.is_authenticated %}
    <a href="{% url 'productos:agregar' producto.id %}" class="btn-comprar">Agregar al carrito</a>
    {% else %}
    <a href="{% url 'usuarios:login' %}?next={% url 'productos:agregar' producto.id %}" class="btn-comprar">Agregar</a>
    {% endif %}
    <br>
  </div>
</div>
{% endblock %}