{% extends 'usuarios/baseU.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'productos/css/list_produc.css' %}" />
{% endblock %}

{% block content %}
<div class="containerEditar">
    <h2>Editar Producto</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-groupEditar">{{ form.nombProduc.label_tag }}{{ form.nombProduc }}{{ form.nombProduc.errors }}</div>
        <div class="form-groupEditar">{{ form.descripcion.label_tag }}{{ form.descripcion }}{{ form.descripcion.errors }}</div>
        <div class="form-groupEditar">{{ form.precio.label_tag }}{{ form.precio }}{{ form.precio.errors }}</div>
        <div class="form-groupEditar">{{ form.Categoria.label_tag }}{{ form.Categoria }}{{ form.Categoria.errors }}</div>
        <div class="form-groupEditar">{{ form.stock.label_tag }}{{ form.stock }}{{ form.stock.errors }}</div>
        <div class="form-groupEditar">{{ form.fecha_caducidad.label_tag }}{{ form.fecha_caducidad }}{{ form.fecha_caducidad.errors }}</div>
        <div class="form-groupEditar">{{ form.imgProduc.label_tag }}{{ form.imgProduc }}{{ form.imgProduc.errors }}</div>
        <div class="btn-container-Editar">
            <button type="submit" class="btn-guardar-Editar">Guardar Cambios</button>
            <a href="{% url 'productos:list_product' %}" class="btn-guardar-volver-Editar"> Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}




