{% extends 'productos/baseP.html' %}
{% load static %}
{% block styles %}

<style>
    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .container-produc {
        display: flex;
        justify-content: center;
    }


    .container-principal {
        width: 250px;
        background-color: #ffffffec;
        border-radius: 12px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s ease;
        text-align: center;
    }

    .container-principal:hover {
        transform: scale(1.03);
    }

    .img-produc {
        width: 180px;
        height: 180px;
        object-fit: contain;
        margin-bottom: 8px;
    }

    .name-produc {
        font-size: 25px;
        font-weight: bold;
        margin: 3px 0;
        color: #333;
    }

    .desc-produc {
        font-size: 14px;
        color: #666;
        margin: 3px 0;
    }

    .price-produc {
        font-size: 18px;
        font-weight: bold;
        color: #1a1a1a;
        margin: 10px 0;
    }

    .btn-comprar {
        width: 130px;
        /* un poquito más ancho */
        height: 42px;
        background-color: #E5BE01;
        /* Amarillo mango */
        color: #fff;
        border: none;
        border-radius: 5px;
        /* más redondeado */
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        /* sombrita */
        margin: 15px 12px;
    }

    .btn-comprar:hover {
        background-color: #ffd500;
        /* Amarillo más oscuro */
        transform: scale(1.05);
        /* efecto zoom */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    }
</style>
{% endblock %}

{% block content %}


<section class="Productos">
    {% for product in products %}
    <div class="container-produc">
        <div class="container-principal">
            <img class="img-produc" src="{{product.imgProduc.url}}">
            <div class="container-info">
                <h4 class="name-produc">{{product.nombProduc}}</h4>
                <h5 class="price-produc">${{product.precio}}</h5>
                <p class="desc-produc">{{product.descripcion}}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'productos:agregar' product.id %}" class="btn-comprar">Agregar</a>
                {% else %}
                <a href="{% url 'usuarios:login' %}?next={% url 'productos:agregar' product.id %}"
                    class="btn-comprar">Agregar</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
</section>

{% endblock %}