{% extends 'usuarios/base.html' %}

{% block content %}
    <nav class="navbar">
        <img src='./media/uploads/products/logoPrin.png' alt="Logo">
        <div class="search-box">
            <input type="text" placeholder="¿Qué estás buscando?">
            <i class="fa fa-search"></i>
        </div>
        <div class="nav-links">
            <a href="{% url 'producto:nosotros' %}">Nosotros</a>
            <div class="dropdown">
                <a href="{% url 'producto' %}">Productos</a>
                <div class="dropdown-content">
                    <a href="#Colagenos">Colagenos</a>
                    <a href="#Citratos">Citratos</a>
                    <a href="#Propoleos">Propoleos</a>
                    <a href="#Drenadores hepaticos">Drenadores hepaticos</a>
                    <a href="#Multivitaminicos">Multivitaminicos</a>
                    <a href="#Purgantes">Purgantes</a>
                </div>
            </div>
            <a href="{% url 'contacto' %}">Contactanos</a>
        </div>
        
    </nav>
    <div class="contenedor-txt">
        <div class="bloque">
            <img src='./media/uploads/products/Mision.png' class="icono" alt="Icono Misión">
            <div class="texto">
                <h3>Misión</h3>
                <p>Somos una empresa líder en la comercialización y distribución de productos naturales e integrales, brindando la mejor calidad y economía en nuestros productos y servicio. Contamos con personal altamente calificado que contribuye a la satisfacción y atención del cliente, apoyando al progreso de nuestra región, al desarrollo y bienestar de la comunidad.</p>
            </div>
        </div>
    
        <div class="bloque">
            <img src='./media/uploads/products/Vision.png' class="icono" alt="Icono Visión">
            <div class="texto">
                <h3>Visión</h3>
                <p>Tienda Naturista Los Girasoles quiere impactar el mundo a través de tratamientos integrales con productos naturales, llevando salud y bienestar. Para el 2025 será la principal distribuidora de productos naturales e integrales a nivel nacional online, siendo una organización sólida y próspera. Para el 2028 estaremos en mercados internacionales, contando con el apoyo de nuestros clientes y laboratorios.</p>
            </div>
        </div>
    
        <div class="bloque">
            <img src='./media/uploads/products/Acerca de nosotros.png' class="icono" alt="Icono Acerca de Nosotros">
            <div class="texto">
                <h3>Acerca de Nosotros</h3>
                <p>Todos nuestros productos cuentan con registro INVIMA, garantizando así nuestro compromiso de mejorar la calidad de vida de nuestros clientes.</p>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy;Página Tienda Naturista Los girasoles 2025</p>
    </footer>
{% endblock %}