{% extends 'productos/baseP.html' %} 
{% load static %} 

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'usuarios/css/panel-contacto-dashboard.css' %}">
{% endblock %}

{% block content %}

<!-- Banner principal -->
<div class="banner-nosotros" style="
    background: url('{% static "usuarios/img/acerca.jpeg" %}') no-repeat center center/cover;
"></div>


<!-- Contenido -->
<div class="contenedor-nosotros">
    <h2>Acerca de Nosotros</h2>
    <p>
        Somos una empresa colombiana ubicada en la ciudad de Ibagué, que desde hace
        23 años comercializa productos naturales que busca mejorar la calidad de
        vida de nuestros compradores. Cada uno de nuestros productos están dedicados
        a ayudarle a tener un estilo de vida más saludable para que pueda cumplir
        con sus metas de salud, bienestar y longevidad naturalmente sin riesgos o
        efectos secundarios para usted y su familia. odos nuestros productos cuentan
        con registro INVIMA, garantizando así nuestro compromiso de ofrecer mejorar
        la calidad de vida de nuestros clientes.
    </p>
</div>

<!-- Banner misión -->
<div class="banner-nosotros" style="
    background: url('{% static "usuarios/img/mision2.jpeg" %}') no-repeat center center/cover;
"></div>


<div class="contenedor-nosotros">
    <h2>Nuestra Misión</h2>
    <p>
        Somos una empresa líder en la comercialización y distribución de productos
        naturales e integrales, brindando la mejor calidad y economía en nuestros
        productos y servicio. Contamos con personalmente altamente calificado que
        contribuye a la satisfacción y atención del cliente, apoyando al progreso de
        nuestra región, al desarrollo y bienestar de la comunidad.
    </p>
</div>

<!-- Banner visión -->
<div class="banner-nosotros" style="
    background: url('{% static "usuarios/img/vision2.jpeg" %}') no-repeat center center/cover;
"></div>


<div class="contenedor-nosotros">
    <h2>Nuestra Visión</h2>
    <p>
        Tienda Naturista Los Girasoles quiere Impactar el mundo atravez de
        tratamiento integrales con productos naturales , llevando salud y
        bienestar.Para el 2026 será la principal distribuidora de productos
        naturales e integrales a nivel nacional online, siendo una organización
        sólida y próspera . Para el 2028 estaremos en mercados internacionales.,
        contando con el apoyo de nuestros clientes y laboratorios.
    </p>
</div>
{% endblock %}