{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/loginAdm-login-register.css' %}" />
</head>
<body data-page="register">
    <a href="{% url 'productos:producto' %}" class="btn-volver">← Volver</a>
    <div class="contenedor-pagina">
        <header class="header-registro"></header>
        <img src="{% static 'usuarios/img/registrarse.jpeg' %}">
        <div class="form-contenedor">
            <form method="post" onsubmit="return validarRegistro()">
                <h2 class="txt-form">Formulario Registro</h2>
                {% csrf_token %}

                <label for="id_nombre">Nombre:</label>
                {{ form.nombre }}
                <div id="msg-nombre" class="mensaje-error"></div>

                <label for="id_password1">Contraseña:</label>
                {{ form.password1 }}
                <div id="msg-pass" class="mensaje-error"></div>

                <label for="id_password2">Repetir Contraseña:</label>
                {{ form.password2 }}
                <div id="msg-confirm" class="mensaje-error"></div>

                <label for="id_email">Email:</label>
                {{ form.email }}
                <div id="msg-email" class="mensaje-error"></div>

                <label for="id_phone_number">Teléfono:</label>
                {{ form.phone_number }}
                <div id="msg-telefono" class="mensaje-error"></div>

                <button type="submit" class="btn-submit">Registrarme</button>
            </form>
            {% if mensaje %}
            <p style="color:red">{{ mensaje }}</p>
            {% endif %}
        </div>
    </div>

<script src="{% static 'usuarios/js/main.js' %}"></script>
</body>

</html>